<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>

<div class="container">
    <div class="jumbotron bg-light">
        <h3>This is User '<span sec:authentication="name"></span>' profile. Only authenticated people can see this</h3>
        <table>
            <tr>
                <td>principal.authorities:</td> <td><span sec:authentication="principal.authorities"></span></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>