<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Fragment #1 : Header files contains css and js references -->
<head th:fragment="headerfiles">
    <title>Introduction to SpringBoot Security</title>
    <meta charset="UTF-8"/>
<!--    <link th:href="@{/bootstrap.min.css}" rel="stylesheet">-->
    <link th:href="@{/my.css}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">-->

    <!-- font awesome  -->
<!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"-->
<!--          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"-->
<!--          crossorigin="anonymous" />-->

    <style>
    </style>
<!--    <link th:href="@{~/fontawesome/css/all.css}" rel="stylesheet">-->
</head>
<body>

<!-- Fragment #2 : Navbar contains nav links -->
<div th:fragment="nav">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="#">Boot Security</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${#httpServletRequest.requestURI.matches('.*(home|login|regist).*')
                                                                                    ? 'border border-info rounded' : ''}"
                       href="#" th:href="@{/home}" th:text="#{menu.home}">
                        <i class="fa fa-home"></i>
                    </a>
                </li>

                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="#"
                       th:classappend="${#httpServletRequest.requestURI.contains('prof') ? 'border border-info rounded' : ''}"
                       th:href="@{/profile}">[[#{menu.profile}]]
                    </a>
                </li>

                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                    <a class="nav-link"
                       th:classappend="${#httpServletRequest.requestURI.contains('admin') ? 'border border-info rounded' : ''}"
                       href="#" th:href="@{/admin/index}">Admin
                    </a>
                </li>

                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')" class="nav-item">
                    <a class="nav-link"
                       th:classappend="${#httpServletRequest.requestURI.contains('manag') ? 'border border-info rounded' : ''}"
                       href="#" th:href="@{/management/index}">Management
                    </a>
                </li>

<!--                <li sec:authorize="false">-->
<!--                    | [[${#httpServletRequest.requestURI}]] |-->
<!--                    [[${#httpServletRequest.requestURI.contains('login')}]] |-->
<!--                    [[${#httpServletRequest}]] |-->
<!--                    [[${httpServletRequest}]] |-->
<!--                    locale=[[${#locale}]]-->
<!--                </li>-->
            </ul>
        </div>

        <span sec:authorize="isAuthenticated()" class="navbar-nav mr-3">
            <a class="nav-link" href="#" th:href="@{/profile}">
                <span sec:authentication="name" class="mr-1"></span>
                <span sec:authentication="principal.authorities"></span>
            </a>
        </span>

        <a class="btn btn-outline-success mr-3" href="#"
            sec:authorize="isAnonymous() && not #httpServletRequest.requestURI.contains('register')" th:href="@{/register}">
            Register
        </a>
        <a class="btn btn-outline-info mr-3" href="#"
            sec:authorize="isAuthenticated()" th:href="@{/logout}">
            Logout
        </a>
        <a class="btn btn-outline-info mr-3" href="#"
            sec:authorize="isAnonymous() && not #httpServletRequest.requestURI.contains('login')" th:href="@{/login}">
            Login
        </a>

        <!--        <form class="form-inline my-2 my-lg-0" form-method="get" th:action="@{/logout}">-->
<!--            <button sec:authorize="isAuthenticated()"-->
<!--                    class="btn btn-outline-danger my-2 my-sm-0 btn-sm"-->
<!--                    type="submit">Logout-->
<!--            </button>-->
<!--            <button sec:authorize="isAnonymous() && not #httpServletRequest.requestURI.contains('login')"-->
<!--                    th:href="@{~/login}"-->
<!--                    class="btn btn-outline-info my-2 my-sm-0 btn-sm"-->
<!--                    type="submit">Login-->
<!--            </button>-->
<!--        </form>-->
    </nav>
</div>


<div th:fragment="footer">
    <div class="row">
        <div class="col-4 offset-4">
            <div class="card text-center">
                <div class="card-header">
                    <i class="fa fa-user"></i>card header
                </div>
                <div class="card-body">
                    <i class="fa fa-user"></i>footer card body
                </div>
                <div class="card-footer">
                    <i class="fa fa-user"></i>card footer
                </div>
            </div>
        </div>
    </div>

<!--    <div class="row justify-content-center">-->
<!--        <div class="col-3">-->
<!--            <div class=" text-center">-->
<!--                <div class="bg-danger">-->
<!--                    <i class="fa fa-user"></i>hhhh22-->
<!--                </div>-->
<!--                fffffff22222-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <script th:src="@{/js/my.js}"></script>

</div>


</body>
</html>