<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
    <title>Register</title>
</head>
<body onload="qqonload1()">
<header th:insert="fragments.html :: nav"></header>
<div class="container">
    <div class="row justify-content-center p-5">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-user"></i>
    <!--                <span class="glyphicon glyphicon-user"></span>-->
                    [[#{register.header}]]
                </div>
                <div class="card-block" style="padding: 24px;">
                    <form name="f" th:action="@{/reg_process}" method="post" th:object="${user}">

    <!--                    <div th:if="${#fields.hasErrors('*')}" class='my-3 error form-control bg-warning'>-->
    <!--                        <div th:errors="*{all}" class='error'></div>-->
    <!--                    </div>-->

                        <div th:if="${#fields.hasErrors('global')}" class='my-3 error form-control bg-warning'>
                            <div th:errors="*{global}" class='error'></div>
                        </div>

                        <fieldset>

                            <div class="form-group">
                                <label for="username">Username</label>
                                <div class="input-group">
                                    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class='error alert-danger'></div>

                                    <div class="input-group-prepend mr-1">
                                        <span class="input-group-text">@</span>
                                    </div>
                                    <input type="email" class="form-control" id="username" name="username" th:value="*{username}"
                                                            placeholder="Username" required="required" minlength="3">
    <!--                            <input name="username" placeholder="&#61447;">-->

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                <div class="input-group">
                                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class='error alert-danger'></div>

    <!--                                <div class="input-group-prepend">-->
    <!--                                    <span class="input-group-text" id="basic-addon1"><a href="" class="bi bi-eye-fill text-primary"></a></span>-->
    <!--                                </div>-->
                                    <input type="password" class="form-control" data-toggle="password"
                                                           id="password" name="password" required="required" minlength="3"
                                                           th:value="*{password}" placeholder="Password">
                                    <div id="basic-addon" class="input-group-append ml-1">
                                        <span class="input-group-text">
    <!--                                        <span class="bi bi-eye-fill"></span>-->
                                            <i id="eye" class="fas fa-eye"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-actions" style="margin-top: 12px;">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments.html :: footer"></div>

</body>
</html>